.card {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    border-radius: .25rem;
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, .3);
    background-color: #00132B;
    
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 250px;
    width: 330px;
    
    margin: 0px;
    border: 2px solid white;
    transition: 150ms;
    cursor: pointer;
    transform: perspective(1000px) rotateY(var(--rotate-y, 0)) translateY(var(--translate-y, 0));
  }
  
  
  @media (max-width:720px){
    .card{
      width: 197px;
    }
  }
  @media (max-width:430px){
    .card{
      width: 40vw;
    }
  }

  .btn {
    width: 90px;
    background-color: #0A60F0;
    color: black;
    font-weight: bolder;
    border-radius:3px;
    margin-left: 10px;
    text-transform: uppercase;
    font-size: small;
  }
  .btn:hover {
    width: 90px;
    background-color: #01B9E6;
  }

  .title {
    text-transform: uppercase;
    font-weight: bolder;
  }
  
  .card:hover {
    --translate-y: -7px;
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, .5);
  }
  
  .card.flip {
    --rotate-y: 180deg;
  }
  
  .card .front {
    left: 0;
   
  }
  
  .card .front,
  .card .back {
    position: absolute;
    padding: 1rem;
    backface-visibility: hidden;
  }
  
  .card .back {
    transform: rotateY(180deg);
  }

  
  